@media screen and (max-width: 900px) {
    .sidebar{
        position: absolute !important;
        z-index: 99 !important;
    }
}
p{
    margin: 0%!important;
}

.container {
    display: flex;
    position: relative;
    justify-content: space-between;
    font-family: 'Jura', sans-serif;
}

@media screen and (max-width: 600px) {
    .main_page{
        
        padding: 30px 10px 0 10px !important;
    }
}
@media screen and (max-width: 900px) {
    .main_page{
        margin-left: 0%!important;
        
    }
}
.main_page{
    width: 100%;
    background: #f5f5f5c0;
    padding: 30px 20px 0 20px;
    min-height: 100vh;
    margin-left: 250px;
}

/* ************* SIDEBAR **************** */

.sidebar{
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    height: 100vh;
    width: 250px;
    position: fixed;
    background-color: #fff;
}

.sidebar_container{
    display: flex;
    flex-direction: column;
    gap: 50px;

}
.side_logo{
    padding-left: 10%;
    letter-spacing: 10px;
}
.side_logo h2 {
    font-weight: 700;
    color: var(--light-blue);
    font-size: 30px;
}

.side_links{
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 70%;
}

.side_link{
    font-size: 18px;
    display: flex;
    color: var(--light-blue);
    padding: 5px 0 5px 25%;
    font-weight: 500;
 
    align-items: center;
    gap: 5px;
    border-left: 3px solid var(--light-blue);
}

.side_link_active{
    font-size: 18px;
    display: flex;
    color: var(--dark-blue);
    padding: 5px 0 5px 25%;
    font-weight: 500;
    align-items: center;
    gap: 5px;
}
.close_sidebar{
    font-size: 30px;
    position: absolute;
    top: 30px;
    right: 10px;
    color: var(--light-blue);
}
.close_sidebar:hover{
    scale: 1.1;
    color: #003ca5;
}
.Logout_btn
{
    margin: 10px 50px;
    padding: 8px;
    border: none;
    border-radius: .3rem;
    outline: 0;
    color: #fff;
    background: var(--light-blue);
    width: 150px;
    text-transform: uppercase;
    font-family: 'Jura', sans-serif;
    cursor: pointer;
    margin-top: 40px;
    position: absolute;
    bottom: 20px;
}
.Logout_btn:hover
{
background: #0576bc;
color: #fff;
font-weight: 700;

}

/* ************* NAVBAR **************** */
.nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav_username{
    color: #313131;
}
.open_sidebar{
    font-size: 30px;
    color: var(--light-blue);
}
.open_sidebar:hover{
    scale: 1.1;
    color: #003ca5;
}

/* ************* DASHBOARD PAGE **************** */
.dashPage{
padding-top: 20px;
}
.sort{
    display: flex;
    gap: 10px;
    padding: 5px;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}
.sort_list{
    display: flex;
    gap: 10px;
    padding: 5px;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;

}
.sort_list div{
    display: flex;
    gap: 4px;
}
.sort p{
    font-size: 23px;
}
.all_btn{
    border-radius: 3px;
    border-width: 1px;
    padding:3px 10px 3px 10px ;
    background-color: #e8f0ffe4;
    color: var(--dark-blue);
    border-color: var(--dark-blue);
}
.sort select{
    height: 30px;
    border-radius: 3px;
    padding: 5px;
    background-color: #e8f0ffe4;
    font-size: 15px;
    color: var(--dark-blue);
    outline: none;
    border-color: var(--dark-blue);
    width: 20px;
}
.sort option{
    background-color: #fff;
    color: #313131;
    
}
ul.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
@media screen and (max-width: 768px) {
    ul.pagination {
        display: grid;
        grid-template-columns: repeat(10, 40px);
        align-items: center;
        justify-content: center33333;
    }
}

ul.pagination li {
    border: 1px solid #70a4ff;
    margin-right: 5px;
    margin-bottom: 10px;
}

.table_color {
    background: #0059ffe1;
    color: white;
    font-weight: 700;
}
thead {
    font-size: 20px;
}
.t_row{
    background: transparent;
    color: #021724;
}
.t_td{
    color: #021724 !important;
    background: transparent;
}









/* ************* ACCOUNT PAGE **************** */
/* ************* LICENSE PAGE **************** */