@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    /* colors */
    --dark-blue: #0a1e2a;
    --light-blue: #004dd3;
    font-family: 'Jura', sans-serif;
    --transition: all 400ms ease;
}
::-webkit-scrollbar {
    position: absolute;
    top: 0;
    bottom: 0%;
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: rgb(179, 179, 179);
}

a {
    text-decoration: none;
}

ul.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
@media screen and (max-width: 768px) {
    ul.pagination {
        display: grid;
        grid-template-columns: repeat(10, 40px);
        align-items: center;
        justify-content: center33333;
    }

    .Multiselect{
        width: 75% !important;
    }
}

ul.pagination li {
    border: 1px solid #70a4ff;
    margin-right: 5px;
    margin-bottom: 10px;
}

.table-color {
    background: var(--light-blue);
    color: white;
    font-size: x-large;
    font-weight: 700!important;
}

.Multiselect{
    border-radius: 5px;
    border-width: 0.5px;
    outline: none;
    padding: 5px 10px;
}
@media screen and (min-width: 768px) {

    .Multiselect{
        width: 500px !important;
    }
}
.searchWrapper{
    border-color: #0059ffe1 !important;
}


.license_cont{
    padding: 10px;
    margin-top: 10px;
    border: 0.5px solid #0059ffe1 ;
    border-radius: 5px;
    max-width: fit-content;
}
.license_btns{
    display: flex;
    gap: 15px;
}
.license_btns button{
    border: 0.5px solid #0059ffe1;
    text-align: center;
    background-color: rgb(252, 252, 252);
    color: #000000;
    font-size: 20px;
    border-radius: 3px;
    padding: 5px 20px 5px 20px;
    margin-top: 15px;
}