@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* body{
    overflow: hidden;
} */

:root {
    /* colors */
    --dark-blue: #0a1e2a;
    --light-blue: #004dd3;
    font-family: 'Jura', sans-serif;
    --transition: all 400ms ease;
}
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: rgb(179, 179, 179);
}

a {
    text-decoration: none;
}

ul.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
@media screen and (max-width: 768px) {
    ul.pagination {
        display: grid;
        grid-template-columns: repeat(10, 40px);
        align-items: center;
        justify-content: center33333;
    }
}

ul.pagination li {
    border: 1px solid #59abde;
    margin-right: 5px;
    margin-bottom: 10px;
}

.table-color {
    background: #0a1e2a;
    color: white;
}