@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* colors */
    --dark-blue: #0a1e2a;
    --light-blue: #004dd3;
    font-family: 'Jura', sans-serif;
    --transition: all 400ms ease;
}

a {
    text-decoration: none;
}